<!DOCTYPE html>
<html lang="en">
  <head>
    
    {{> partials/head }}

  </head>
  <body>

    <!-- Navbar -->
    {{> partials/navbar }}

    <!-- Page content background -->
    <div class="hero is-fullheight is-dark">

      <div class="hero-body">
        <div class="container">
          <div class="column is-8 is-offset-2">

            <!-- Login component -->
            <h3 class="title has-text-white has-text-centered">Login</h3>
            <hr class="login-hr">

            <div class="box">
              <div class="title has-text-black is-5">Please enter your email and password.</div>
            
              <form>
                <div class="field">
                  <div class="control">
                    <input class="input is-large" type="email" placeholder="Email" autofocus="">
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <input class="input is-large" type="password" placeholder="Password">
                  </div>
                </div>
              </form>
  
              <label class="checkbox" style="margin: 20px 0px;">
                <input type="checkbox">
                  Remember me
              </label>

              <button class="button is-block is-danger is-large is-fullwidth">Login</button>

              <p class="has-text-grey has-text-centered" style="margin: 20px 0 0 0;">
                <a href="">Sign Up</a> &nbsp;·&nbsp;
                <a href="">Forgot Password</a> &nbsp;·&nbsp;
                <a href="">Need Help?</a>
              </p>
            </div>

          </div>
        </div>

      </div>

    </div>
  
  </body>
</html>