<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong class="is-size-3">REACTION</strong>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <!-- navbar items -->
    </div>
  
    <div class="navbar-end">
      <!-- navbar items -->
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a id="add-post-button" class="button is-purple">
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
            </a>
          </p>

          <p class="control">
            <a class="button is-purple" href="/public-server">
              Public Server
            </a>
          </p>

          <p class="control">
            <a class="button is-purple is-inverted" href="/posts">
              posts
            </a>
          </p>

          <p class="control">
            <a class="button" href="/login">
              Log in
            </a>
          </p>

          <p class="control">
            <a class="button is-purple">
              Sign Up
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>